h2.text-center, h2.text-uppercase,h2.text-white{
  padding-bottom: 3rem;
}

#bg-picture{
  background-image: url("../img/supremeCourt.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

#mainNav{
  padding: 0;
}

#SubHeader{
  animation-delay: 1s;
  margin-top: 0;
  padding-top: 0;
}

dt{
  height: 25px;
}

#cardRow{
  display: inline-flex;
}
