body, html {
    height: 100%;
}

h2.text-center, h2.text-uppercase,h2.text-white{
  padding-bottom: 3rem;
}

#bg-picture{
  background-image: url("../img/supremeCourt.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

#mainNav{
  padding: 0;
}

#SubHeader{
  animation-delay: 1s;
  margin-top: 0;
  padding-top: 0;
}

#payment_form > div.row{
  margin-left: .1rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  height: 2rem;
}

.row #iframesCardCvv{
  margin-right: 30px;
}

.footer{
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-text{
  font-weight: 700;
  font-family: Montserrat;
  font-size: 1.5rem;
}

.modal-text{
  font-weight: 700;
  font-family: Montserrat;
  font-size: 1.5rem;
  text-align: left;
}

h1{
  padding: 1rem !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#paydiv{
  height: 100%;
  width: 100%;
  background-size: cover;
  display: block;
  margin: 0 auto;
  text-align: center;
}
